--
-- staging_posts table
--
drop table if exists staging_posts cascade;

create table staging_posts (
    id bigserial not null primary key,
    post_title varchar(512) not null,
    post_desc varchar(1024) not null,
    post_url varchar(512) not null,
    post_img_url varchar(512),
    importer_id varchar(256) not null,
    feed_ident varchar(256) not null,
    object_source json not null,
    import_timestamp timestamp with time zone,
    post_status varchar(64),
    is_published boolean not null default false,
    post_hash varchar(64) not null
);
--
-- feed_definitions table
--
drop table if exists feed_definitions cascade;

create table feed_definitions (
    id bigserial not null primary key,
    feed_ident varchar(256) not null,
    feed_title varchar(512) not null,
    feed_desc varchar(1024) not null,
    feed_generator varchar(512) not null,
    transport_ident varchar(256) not null
);
--
-- roles table
--
drop table if exists roles cascade;

create table roles
(
  id serial,
  name varchar(256) unique not null,

  primary key(name)
);
--
-- features_in_roles table
--
drop table if exists features_in_roles cascade;

create table features_in_roles
(
  id serial,
  feature_cd varchar(100) not null,
  role varchar(100) not null,

  primary key(id)
);

alter table features_in_roles add constraint features_in_roles_fk_2 foreign key (role) references roles (name);
--
-- users table
--
drop table if exists users cascade;

create table users
(
  id serial,
  name varchar(100) unique not null,
  password varchar(256) not null,
  email_address varchar(512),
  auth_claim varchar(256),
  verification_claim varchar(256),

  primary key (name)
);
--
-- users_in_roles table
--
drop table if exists users_in_roles cascade;

create table users_in_roles
(
  id serial,
  username varchar(100) not null,
  role varchar(100) not null,

  primary key (id)
);

alter table users_in_roles add constraint users_in_roles_fk_1 foreign key (username) references users (name);
alter table users_in_roles add constraint users_in_roles_fk_2 foreign key (role) references roles (name);
--
-- framework_config table
--
drop table if exists framework_config cascade;

create table framework_config
(
  username varchar(100) not null,
  settings_group varchar(256) not null,
  attr_name varchar(256) not null,
  attr_value varchar(4000) not null,
  unique(username, settings_group, attr_name)
);

alter table framework_config add constraint framework_config_fk_1 foreign key (username) references users (name);
